
body {
	font-family: 'helvetica', 'arial', 'sans-serif';
}

.left {
	background-color: #bedb39;
	position: fixed;
	width: 50%;
	height: 100%;
	top: 0;
	left: 0;
}

.interface {
	text-align: center;
	padding: 20px;
}

a.button {
	display: inline-block;
	background-color: white;
	color: black;
	padding: 20px 40px;
	text-decoration: none;
	text-transform: uppercase;
	border-radius: 10px;
	transition: color 300ms;

}

a.hover {
	color: red;
}

.right {
	background-color: #ffd34e;
	position: fixed;
	width: 50%;
	height: 100%;
	top: 0;
	right: 0;
}

.ground {
	background: url('../img/ground.png') no-repeat 0 0;
	position: absolute;
	bottom: -1px;
	left: 0;
	width: 100%;
	height: 35px;
}


.nervous {
	position: absolute;
	bottom: 100px;
	left: 50%;
	background: url('../img/nervous.png') no-repeat 0 0;
	width: 198px;
	height: 113px;
	margin-left: -180px;
	display: none;
}

.cant-wait {
	position: absolute;
	bottom: 100px;
	left: 40%;
	background: url('../img/cantwait.png') no-repeat 0 0;
	width: 198px;
	height: 113px;
	display: none;
}

.cant-wait.show {
	display: block;
}

.nervous.show {
	display: block;
}

.rocket {
	position: absolute;
	left: 50%;
	bottom: 15px;
	width: 85px;
	height: 170px;
	margin-left: -50px;
	background: url('../img/rocket-state1.png') no-repeat 0 0;
	transition: bottom 10000ms;
}


body.body-state1 .rocket {
	transition: none;
}

/* rocket bg image */
body.body-state2 .rocket {
	background-image: url('../img/rocket-state2.gif');
	
}

body.body-state3 .rocket, 
body.body-state4 .rocket {
	background-image: url('../img/rocket-state3.gif');
}
	

body.body-state5 .rocket {
	background-image: url('../img/boom.png');
	width: 490px;
	height: 294px;
	margin-left: -100px;
}








body.body-state3 .rocket,
body.body-state4 .rocket {
	bottom: 1000px;
}

.state1,
.state2,
.state3,
.state4,
.state5 {
	display: none;
}

body.body-state1 .state1 {
	display: block;
}

body.body-state2 .state2 {
	display: block;
}

body.body-state3 .state3 {
	display: block;
}

body.body-state4 .state4 {
	display: block;
}

body.body-state5 .state5 {
	display: block;
}

a {

}

a.button {

}